In [69]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
movies_data = "Resources/IMDb_movies.csv"
ratings_data = "Resources/IMDb_ratings.csv"
metascore = "Resources/metacritic_movies.csv"

# Read School and Student Data File and store into Pandas Data Frames
movies_data = pd.read_csv(movies_data)
ratings_data = pd.read_csv(ratings_data)
metascore = pd.read_csv(metascore)

C:\Users\Mitch\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
# info
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
imdb_title_id            85855 non-null object
title                    85855 non-null object
original_title           85855 non-null object
year                     85855 non-null object
date_published           85855 non-null object
genre                    85855 non-null object
duration                 85855 non-null int64
country                  85791 non-null object
language                 85022 non-null object
director                 85768 non-null object
writer                   84283 non-null object
production_company       81400 non-null object
actors                   85786 non-null object
description              83740 non-null object
avg_vote                 85855 non-null float64
votes                    85855 non-null int64
budget                   23710 non-null object
usa_gross_income         15326 non-null object
worlwide_gross_income    31016 non-null object
metascore                13305 non-null float64
reviews_from_users       78258 non-null float64
reviews_from_critics     74058 non-null float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

In [29]:
ratings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 49 columns):
imdb_title_id                85855 non-null object
weighted_average_vote        85855 non-null float64
total_votes                  85855 non-null int64
mean_vote                    85855 non-null float64
median_vote                  85855 non-null float64
votes_10                     85855 non-null int64
votes_9                      85855 non-null int64
votes_8                      85855 non-null int64
votes_7                      85855 non-null int64
votes_6                      85855 non-null int64
votes_5                      85855 non-null int64
votes_4                      85855 non-null int64
votes_3                      85855 non-null int64
votes_2                      85855 non-null int64
votes_1                      85855 non-null int64
allgenders_0age_avg_vote     33359 non-null float64
allgenders_0age_votes        33359 non-null float64
allgenders_18age_avg_vote    85149 non-null float64
allgenders_18age_votes       85149 non-null float64
allgenders_30age_avg_vote    85845 non-null float64
allgenders_30age_votes       85845 non-null float64
allgenders_45age_avg_vote    85775 non-null float64
allgenders_45age_votes       85775 non-null float64
males_allages_avg_vote       85854 non-null float64
males_allages_votes          85854 non-null float64
males_0age_avg_vote          27411 non-null float64
males_0age_votes             27411 non-null float64
males_18age_avg_vote         84390 non-null float64
males_18age_votes            84390 non-null float64
males_30age_avg_vote         85843 non-null float64
males_30age_votes            85843 non-null float64
males_45age_avg_vote         85754 non-null float64
males_45age_votes            85754 non-null float64
females_allages_avg_vote     85774 non-null float64
females_allages_votes        85774 non-null float64
females_0age_avg_vote        22117 non-null float64
females_0age_votes           22117 non-null float64
females_18age_avg_vote       79334 non-null float64
females_18age_votes          79334 non-null float64
females_30age_avg_vote       84911 non-null float64
females_30age_votes          84911 non-null float64
females_45age_avg_vote       83057 non-null float64
females_45age_votes          83057 non-null float64
top1000_voters_rating        85176 non-null float64
top1000_voters_votes         85176 non-null float64
us_voters_rating             85646 non-null float64
us_voters_votes              85646 non-null float64
non_us_voters_rating         85854 non-null float64
non_us_voters_votes          85854 non-null float64
dtypes: float64(37), int64(11), object(1)
memory usage: 32.1+ MB

In [36]:
metascore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9121 entries, 0 to 9120
Data columns (total 11 columns):
movie_title      9121 non-null object
release_date     9121 non-null object
genre            9121 non-null object
meta_mixed       9121 non-null int64
meta_negative    9121 non-null int64
meta_positive    9121 non-null int64
metascore        9121 non-null int64
user_mixed       9121 non-null object
user_negative    9121 non-null object
user_positive    9121 non-null object
userscore        9121 non-null object
dtypes: int64(4), object(7)
memory usage: 784.0+ KB

In [37]:
# Combine the data into a single dataset
movies_data.to_json("Resources/imdb_movies.json")
ratings_data.to_json("Resources/imdb_ratings.json")
metascore.to_json("Resources/metacritic_movies.json")

In [66]:
genres =  movies_data.genre.unique()
unique = []
# for genre in genres:
#     if genre in unique:
#         continue
#     else:
#         unique.append(genre)
# # return unique

print(genres)
# print(get_unique_numbers(numbers))
# Result: [20, 30, 40]

['Romance' 'Biography, Crime, Drama' 'Drama' ... 'Family, War'
 'Documentary' 'Crime, War']